Repository bazelbuild/rules_kotlin, pull requests merged in 2020-02, with the labels that each got.

#268 Allow resources to be in a kotlin directory
  kotlin/internal/jvm/compile.bzl
  kotlin/internal/jvm/jvm.bzl
Labels: P3, component: android, component: jvm, status: open - investigating, type: enhancement

#276 Fix regression introduced in #271 for legacy use of "jars" in kt_jvm_import
  kotlin/internal/jvm/impl.bzl
Labels: P1, component: jvm, type: bug

#283 Update readme so the dev instructions highlight using a local clone
  README.md
Labels: P1, component: documentation, status: in review, type: cleanup

#263 Filter non-kotlin code out of generated sources
  WORKSPACE
  kotlin/internal/jvm/impl.bzl
  src/main/kotlin/io/bazel/kotlin/builder/tasks/BazelWorker.kt
  src/main/kotlin/io/bazel/kotlin/builder/tasks/jvm/KotlinJvmTaskExecutor.kt
  src/test/kotlin/io/bazel/kotlin/builder/BUILD
  src/test/kotlin/io/bazel/kotlin/builder/KotlinAbstractTestBuilder.java
  src/test/kotlin/io/bazel/kotlin/builder/KotlinJvmTestBuilder.java
  src/test/kotlin/io/bazel/kotlin/builder/tasks/jvm/KotlinJvmTaskExecutorTest.kt
Labels: P2, component: android, component: jvm, status: in review, type: enhancement

#293 Add Corbin to the codeowners.
  CODEOWNERS
Labels: P1, component: common, status: in review, type: task

#292 Change plugins to use depsets, as opposed to lists.
  kotlin/internal/jvm/compile.bzl
  kotlin/internal/jvm/plugins.bzl
Labels: P1, component: android, component: jvm, status: in review, type: performance
