Repository bazelbuild/rules_kotlin, pull requests merged in 2020-01, with the labels that each got.

#255 Passthrough tags to the container android_library
  kotlin/internal/jvm/android.bzl
Labels: P1, component: android, component: jvm, status: in review, type: bug

#257 Tweak the inference of the test class's package a bit
  kotlin/internal/jvm/impl.bzl
Labels: P2, component: jvm, status: in review, type: enhancement

#243 Change readme file formatting
  README.md
Labels: P3, component: documentation, status: in review, type: cleanup

#242 Add InteliiJ aspect info
  kotlin/internal/defs.bzl
  kotlin/internal/jvm/compile.bzl
Labels: P1, component: android, component: jvm, status: open - investigating, type: enhancement

#258 Stop using native java rules as these are now deprecated usages.
  examples/dagger/BUILD
  kotlin/internal/repositories/BUILD.com_github_jetbrains_kotlin
  src/main/kotlin/BUILD
  src/main/kotlin/bootstrap.bzl
  src/main/kotlin/io/bazel/kotlin/builder/BUILD
  src/main/protobuf/BUILD
  src/test/data/jvm/basic/BUILD
  src/test/data/jvm/kapt/BUILD
  src/test/kotlin/io/bazel/kotlin/builder/BUILD
  src/test/kotlin/io/bazel/kotlin/defs.bzl
  third_party/BUILD
  third_party/jvm/com/google/auto/BUILD
  third_party/jvm/com/google/auto/service/BUILD
  third_party/jvm/com/google/auto/value/BUILD
  third_party/jvm/com/google/code/findbugs/BUILD
  third_party/jvm/com/google/code/gson/BUILD
  third_party/jvm/com/google/dagger/BUILD
  third_party/jvm/com/google/errorprone/BUILD
  third_party/jvm/com/google/googlejavaformat/BUILD
  third_party/jvm/com/google/guava/BUILD
  third_party/jvm/com/google/j2objc/BUILD
  third_party/jvm/com/google/protobuf/BUILD
  third_party/jvm/com/google/truth/BUILD
  third_party/jvm/com/googlecode/java_diff_utils/BUILD
  third_party/jvm/com/squareup/BUILD
  third_party/jvm/javax/annotation/BUILD
  third_party/jvm/javax/enterprise/BUILD
  third_party/jvm/javax/inject/BUILD
  third_party/jvm/junit/BUILD
  third_party/jvm/net/ltgt/gradle/incap/BUILD
  third_party/jvm/org/apache/ant/BUILD
  third_party/jvm/org/apache/commons/BUILD
  third_party/jvm/org/apache/maven/BUILD
  third_party/jvm/org/checkerframework/BUILD
  third_party/jvm/org/codehaus/mojo/BUILD
  third_party/jvm/org/codehaus/plexus/BUILD
  third_party/jvm/org/eclipse/sisu/BUILD
  third_party/jvm/org/hamcrest/BUILD
  third_party/jvm/org/jetbrains/BUILD
  third_party/jvm/org/jetbrains/kotlin/BUILD
  third_party/jvm/org/jetbrains/kotlinx/BUILD
  third_party/jvm/org/ow2/asm/BUILD
  third_party/jvm/org/pantsbuild/BUILD
  third_party/jvm/workspace.bzl
Labels: P1, component: android, component: jvm, status: in review, type: cleanup

#237 Add a link to the generated documentation
  README.md
Labels: P3, component: documentation, status: in review, type: cleanup

#259 Factor out external workspace versions and SHA256s into variables
  WORKSPACE
Labels: P2, component: common, status: in review, type: cleanup
